<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook><%= link_to t('spree.gallery'), spree.root_path %></li>
    <li id="products-link" data-hook><%= link_to t('spree.shop'), spree.products_path %></li>
    <li id="original-art-link" data-hook><%= link_to "Original Art for Sale", "/t/original-art" %></li>
    <li id="contact-link" data-hook><%= link_to "Contact", "/contact" %></li>
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to t('spree.cart'), spree.cart_path %>
      </noscript>
      &nbsp;
    </li>
  </ul>
  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
</nav>
